{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/common/profile/profile.css">

<div class="profile_page">
    {{#if message}}<p class="note">{{message}}</p>{{/if}}

    <div class="profile-wrapper">
        <div class="left-section">
            <h4 class="heading">Seller Profile</h4>

            <div class="info-box">
                <div class="photo">
                    {{#if seller.photo}}
                    <img src="/public/images/users/{{seller.photo}}" alt="">
                    {{else}}
                    <img src="/images/resources/No-Profile-photo.png" alt="">
                    {{/if}}
                </div>

                <div class="basic-infos">
                    <p><span>Name</span> {{seller.name}}</p>
                    <p><span>Mobile</span> {{#if seller.mobile}} {{seller.mobile}} {{else}} --- {{/if}}</p>
                    <p><span>Email</span> {{seller.email}} </p>
                </div>

                <a href="/seller/edit-profile-infos" class="button">Edit</a>
            </div>
        </div>

        <div class="right-section">

            <div class="address-box">
                <h4 class="heading">Location</h4>

                {{#if seller.location}}
                <div class="address">
                    <p>{{seller.location.addressLine1}},
                        <br> {{seller.location.addressLine2}},
                        <br> {{seller.location.landmark}},
                        <br> {{seller.location.district}}-{{seller.location.pincode}},
                        <br> INDIA
                    </p>
                </div>

                <div class="address edit">
                    <a href="/seller/edit-location" class="button">Edit Shop Location</a>
                </div>

                {{else}}
                <div class="address">
                    <p>Ohh No! <br> Your location is not saved with us ...</p>
                </div>
                <div class="address add-new">
                    <a href="/seller/add-new-location" class="button">Add Your Location</a>
                </div>
                {{/if}}
            </div>

            <div class="sections-box">
                <h4 class="heading">Your Sections</h4>

                <a href="/seller/products" class="button">Products</a>
                <a href="/seller/orders" class="button">Orders</a>
                <a href="/seller/returns" class="button">Returns</a>
                <a href="/seller/stats" class="button">Stats</a>
            </div>
        </div>
    </div>
    <div class="password-wrapper">
        <form action="/seller/change-password" method="post">
            <h4 class="heading">Change Password</h4>

            <input type="password" name="" placeholder="Current password">
            <input type="password" placeholder="New password">
            <input type="password" placeholder="Confirm new password">

            <button type="submit" class="button">Change Password</button>
        </form>
    </div>
    <div class="logout-wrapper">
        <a href="/seller/logout" class="button logout">Logout</a>
    </div>
</div>