{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/user/cart/cart.css">

{{!-- HBS --}}
<section class="cart_component">
    {{#if cartList}}
    <div class="cards">
        <h3 id="section-title">Items</h3>

        {{#each cartList}}
        <div class="card">
            <img src="/images/products/{{this.product.coverImg}}" alt="rolex-image">

            <div class="details">
                <h2 class="product-name">{{this.product.product_name}}</h2>
                <h4 class="brand-name">{{this.product.brand_name}}</h4>
                <p class="description">{{this.product.description}}</p>
                <h1 class="price"> <span class="currency">₹</span> {{formatPrice this.product.selling_price}}
                    <strike> <span class="currency">₹</span>{{formatPrice this.product.original_price}}</strike>
                </h1>
                <div class="actions">
                    <div class="qnty">
                        <button
                            onclick="changeQnty('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>

                        <p id="{{this.product._id}}">{{this.quantity}}</p>

                        <button
                            onclick="changeQnty('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                    </div>
                    <p class="move wishlist"
                        onclick="moveToWishlist('{{this._id}}','{{this.product._id}}', '{{../user._id}}')">
                        <span>Move to</span><i class="fa-solid fa-heart"></i>
                    </p>
                    <p class="move remove" onclick="removeFromCart('{{this._id}}','{{this.product._id}}')">
                        <span>Remove</span> <i class="fa-solid fa-trash"></i>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="right-section">
        <h3 id="section-title">Summary</h3>

        <div class="total-summary">
            <table>
                <tbody>
                    <tr>
                        <td>Original price</td>
                        <td><span class="currency">₹</span> <span
                                id="original_price">{{formatPrice cartTotal.original_total}}</span></td>
                    </tr>
                    <tr>
                        <td>Discounted Price</td>
                        <td><span class="currency">₹</span>
                            <span id="discounted_price">{{formatPrice cartTotal.discounted_total}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Coupon Code</td>
                        <td>WINTER200</td>
                    </tr>
                    <tr>
                        <td>Coupon Discount</td>
                        <td><span class="currency">₹</span>
                            <span id="coupon-value">{{formatPrice cartTotal.coupon_discount}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Delivery Charges</td>
                        <td><span class="currency">₹</span>
                            <span id="delivery-charges">{{formatPrice cartTotal.delivery_charges}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="price-and-btn">
                <h3><span class="currency">₹</span>
                    <span id="final_price">{{formatPrice cartTotal.final_payable}}</span>
                </h3>
                <a href="/checkout" class="checkout">Checkout</a>
            </div>
        </div>
    </div>
    {{else}}
    <div class="empty-cart">
        <h1>Your cart is empty</h1>
        <a href="/">Add Items</a>
    </div>
    {{/if}}
</section>

{{!-- JS --}}
<script src="/javascripts/user/cart.js"></script>