{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/user/checkout/checkout.css">

<div class="checkout_page">
    <h2>Checkout</h2>

    <form action="" id="checkout-form">
        <!-- Address Section -->
        <div class="section address">
            <h3 class="section-titles">Address</h3>
            <input type="text" name="addressLine1" minlength="3" maxlength="30" required placeholder="Address line 1">
            <input type="text" name="addressLine2" minlength="3" maxlength="30" required placeholder="Address line 2">
            <input type="tel" name="mobile" minlength="10" maxlength="12" required placeholder="Mobile">
            <input type="email" name="email" required placeholder="Email address">
            <div class="pin-distr">
                <input class="pin" name="pincode" type="number" required placeholder="Pincode">
                <input class="distr" name="district" type="text" minlength="2" maxlength="20" required
                    placeholder="District">
            </div>
        </div>

        <!-- Payment Section -->
        <div class="section payment">
            <h3 class="section-titles">Payment Method</h3>
            <label class="radios"><input type="radio" name="paymentMethod" value="cod" checked /> Cash on
                Delivery</label>
            <label class="radios"><input type="radio" name="paymentMethod" value="online" /> Online Payment</label>
        </div>

        <!-- Summary Section -->
        <div class="section summary-box">
            <h3 class="section-titles">Summary</h3>
            <div class="summary">
                <p>Original price: <span>₹{{cartTotal.original_total}}</span></p>
                <p>Discounted price: <span>₹{{cartTotal.discounted_total}}</span></p>
                <p>Coupon Code: <span>WINTER200</span></p>
                <p>Coupon Discount: <span>₹{{cartTotal.coupon_discount}}</span></p>
                <p>Delivery Charges: <span>₹{{cartTotal.delivery_charges}}</span></p>
            </div>
            <div class="total">
                <h3>Total: ₹{{cartTotal.final_payable}}</h3>
                <button type="submit" class="button proceed-btn">Place Order</button>
            </div>
        </div>

        <input hidden type="text" name="userId" value="{{userId}}">
    </form>
</div>

{{!-- JS --}}
<script src="/javascripts/user/checkout.js"></script>