{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/user/order-success/order-success.css">

<div class="order-success_page">
    <div class="success-msg">
        <img src="/images/resources/order-placed.png" alt="">
        <h2>ORDER SUCCESSFUL</h2>
    </div>

    <div class="order-infos">
        <div class="address">
            <p class="heading"><i class="fa-solid fa-truck"></i>Delivery Details</p>
            <p class="content">Address: {{order.deliveryDetails.addressLine1}},
                {{order.deliveryDetails.addressLine2}},
                {{order.deliveryDetails.district}}-{{order.deliveryDetails.pincode}}
                <br> <br>
                Delivery Expected: {{order.date.expectedDelivery}}
            </p>
        </div>

        <div class="contact">
            <p class="heading"><i class="fa-solid fa-phone"></i>Contact Details</p>
            <p class="content">Name: {{order.userDetails.name}} <br> Phone: +91 {{order.userDetails.mobile}}
                <br> Email: {{order.userDetails.email}}
            </p>
        </div>

        <div class="summary">
            <p class="heading"><i class="fa-solid fa-clipboard-list"></i>Order Summary</p>
            <div class="content">
                <p>Sub Total: <span>₹ {{order.cartInfo.discounted_total}}</span> </p>
                <p>Coupon Value: <span>₹ {{order.cartInfo.coupon_discount}}</span> </p>
                <p>Delivery Charges: <span>₹ {{order.cartInfo.delivery_charges}}</span> </p>
                <hr>
                <p>Total: <span>₹ {{order.cartInfo.final_payable}}</span> </p>
            </div>
        </div>

        <div class="redirect">
            <a href="/orders">Got to orders <i class="fa-solid fa-caret-right"></i></a>
        </div>
    </div>
</div>