{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/user/orders/orders.css">

<div class="orders_page">
    <div class="cards">
        <p class="title">Orders</p>
        {{#each orders}}
        <div class="card">
            <a href="/view-item/{{this._id}}"> <img src="/images/products/{{this.product.coverImg}}" alt=""></a>
            <div class="details">
                <div class="name">
                    <p class="brand-name">{{this.product.brand_name}}</p>
                    <p class="product-name">{{this.product.product_name}}</p>
                </div>
                <div class="price">
                    <h4>₹{{this.product.selling_price}} <span>₹{{this.product.original_price}}</span></h4>

                    <p class="quantity">Quantity : {{this.quantity}}</p>
                </div>
                <div class="delivery">
                    <h4 class="date">Delivery expected on : <br> {{this.date.expectedDelivery}}</h4>
                    <p class="order-status">Order successfully placed</p>

                    {{#if (eq this.orderStatus 'delivered')}}
                    <a href="/review-product/{{this.product._id}}" class="actions-btn">Review</a>
                    {{else}}
                    <a href="/track-order/{{this.orderId}}" class="actions-btn">Track Order</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>