{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/common/profile/profile.css">

<div class="profile_page">
    {{#if message}}<p class="note">{{message}}</p>{{/if}}
    {{#if error}}<p class="note">{{error}}</p>{{/if}}

    <div class="profile-wrapper">
        <div class="left-section">
            <h4 class="heading">My Profile</h4>

            <div class="info-box">
                <div class="photo">
                    {{#if user.photo}}
                    <img src="/images/users/{{user.photo}}" alt="">
                    {{else}}
                    <img src="/images/resources/No-Profile-photo.png" alt="">
                    {{/if}}
                </div>

                <div class="basic-infos">
                    <h4>Basic Informations</h4>
                    <p><span>Name</span> {{user.name}}</p>
                    <p><span>Mobile</span> {{#if user.phone}} +91 {{user.phone}} {{else}} --- {{/if}}</p>
                    <p><span>Gender</span> {{#if user.gender}} {{user.gender}} {{else}} --- {{/if}}</p>
                    <p><span>Email</span> {{user.email}} </p>
                </div>

                <a href="/edit-profile-info" class="button">Edit</a>
            </div>
        </div>

        <div class="right-section">

            <div class="address-box">
                <h4 class="heading">Address</h4>

                {{#if user.address}}
                <div class="address">
                    <p>{{user.address.addressLine1}},
                        <br> {{user.address.addressLine2}},
                        <br> {{user.address.landmark}},
                        <br> {{user.address.district}}-{{user.address.pincode}},
                        <br> INDIA
                        {{!-- <br> Email: {{user.email}} --}}
                    </p>
                </div>

                <div class="address edit">
                    <a href="/edit-address" class="button">Edit Your Address</a>
                </div>

                {{else}}
                <div class="address">
                    <p>Ohh No! <br> You dont have any saved address with us ...</p>
                </div>
                <div class="address add-new">
                    <a href="/add-new-address" class="button">Add Your Address</a>
                </div>
                {{/if}}
            </div>

            <div class="sections-box">
                <h4 class="heading">Your Sections</h4>

                <a href="/cart" class="button">Cart</a>
                <a href="/wishlist" class="button">Wishlist</a>
                <a href="/orders" class="button">Orders</a>
                <a href="/seller" class="button seller">Sell on TimeCart</a>
            </div>
        </div>
    </div>
    <div class="password-wrapper">
        <form action="/change-password" method="post">
            <h4 class="heading">Change Password</h4>

            <input type="password" name="currentPassword" placeholder="Current password">
            <input type="password" minlength="8" maxlength="16" name="newPassword" placeholder="New password">
            <input type="password" minlength="8" maxlength="16" name="confirmPassword"
                placeholder="Confirm new password">

            <button type="submit" class="button">Change Password</button>
        </form>
    </div>

    <div class="logout-wrapper">
        <a href="/logout" class="button logout">Logout</a>
    </div>
</div>