{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/user/view-products/view-products.css">

{{!-- HBS --}}
<section class="view-products">
    <div class="cards">
        {{#each products}}
        <div class="card">
            <div class="details">
                <img src="/images/products/{{this.coverImg}}" alt="product-photo">
                <div class="infos">
                    <h5 class="brand">{{this.brand_name}}</h5>
                    <h4>{{this.product_name}}</h4>
                    <p>{{this.description}}</p>
                    <h3>
                        <span>₹</span>{{this.selling_price}}
                        <strike><span>₹</span>{{this.original_price}}</strike>
                    </h3>
                </div>
            </div>
            <div class="buttons">
                <a href="/add-to-cart"><button class="buttons">Add to Cart</button></a>
                <a href="/buy-now"><button class="buttons">Buy Now</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</section>