{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/user/view-products/view-products.css">

{{!-- HBS --}}
<section class="view-products">
    {{#if products.length}}
    <p class="title">Search Results :</p>

    <div class="cards">
        {{#each products}}
        <a href="/view-item/{{this._id}}" class="card">
            <div class="details">
                <img src="/images/products/{{this.coverImg}}" alt="product-photo">
                <div class="infos">
                    <h5 class="brand">{{this.brand_name}}</h5>
                    <h4>{{this.product_name}}</h4>
                    <p>{{this.description}}</p>
                    <h3>
                        <span>₹</span>{{this.selling_price}}
                        <strike><span>₹</span>{{this.original_price}}</strike>
                    </h3>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{else}}
    <div class="empty-list">
        <p> <span>Sorry!</span> <br> No matching watches found in our catalog.</p>
    </div>
    {{/if}}
</section>